.container {
    padding: 20px;

    .admin {
        &__info {
            text-align: end;
        }
        &__name {
            font-size: 20px;
        }
        &__overview {
            max-height: 220px;
            overflow: scroll;
        }
    }
}